################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BakeryApp/v16
/BakeryApp/.vs/BakeryApp
